<% if user_signed_in? %>

  <script type="text/javascript">
    window.location = '/'
  </script>

<% else %>

<div class="center hero-unit">
  <h1>Welcome to FotB!</h1>

  <h2>
    Register or sign in below.
  </h2>

  <%= link_to "Register", '/users/sign_up', :class => "btn btn-large btn-primary" %>
  <%= link_to "Sign in", '/users/sign_in', :class => "btn btn-large btn-primary" %>
</div>

<% end %>
